In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('part2.csv')

/home/anant/env/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (18,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
df.head()

,date,buy_user_id,sell_user_id,bord_stoploss_ind,sell_stoploss_ind,buy_instrument,buy_symbol,buy_option,buy_expry_date,buy_strk_price,...,Trade_Transaction_time,Buy_order_Price,Buy_order_quantity,Buy_trigger_price,Sell_order_quantity,Sell_trigger_price,Sell_order_price,Trade_Price,Trade_Quantity,Trade_Value
0,2015-03-02,NaN,7828.0,NaN,N,NaN,NaN,NaN,NaN,NaN,...,72729552441971,NaN,NaN,NaN,50.0,0.0,190.0,NaN,NaN,NaN
1,2015-03-02,NaN,35277.0,NaN,N,NaN,NaN,NaN,NaN,NaN,...,72728899213527,NaN,NaN,NaN,25.0,0.0,225.0,NaN,NaN,NaN
2,2015-03-02,NaN,20229.0,NaN,N,NaN,NaN,NaN,NaN,NaN,...,72730180523712,NaN,NaN,NaN,25.0,0.0,137.8,NaN,NaN,NaN
3,2015-03-02,NaN,7462.0,NaN,N,NaN,NaN,NaN,NaN,NaN,...,72729391296675,NaN,NaN,NaN,200.0,0.0,20250.0,NaN,NaN,NaN
4,2015-03-02,NaN,17233.0,NaN,N,NaN,NaN,NaN,NaN,NaN,...,72729610334487,NaN,NaN,NaN,100.0,0.0,116.0,NaN,NaN,NaN

In [22]:
df.columns

Index(['date', ' buy_user_id', ' sell_user_id', ' bord_stoploss_ind',
       'sell_stoploss_ind', 'buy_instrument', 'buy_symbol', 'buy_option',
       'buy_expry_date', 'buy_strk_price', 'buy_tm_code', 'buy_client_cd',
       'buy_activity_type', 'buy_order_time', 'buy_order_LST_MOD_TIME',
       'buy_MKT_IND', 'buy_ORD_NO', 'buy_transaction_time',
       'buy_spread_indicator', 'buy_nnf_code', 'buy_book_type',
       'buy_colo_flag', 'sell_instrument', 'sell_symbol', 'sell_expry_date',
       'sell_option', 'sell_strk_price', 'sell_tm_code', 'sell_client_code',
       'sell_activity_type', 'sell_order_time', 'sell_order_LST_MOD_TIME',
       'sell_MKT_IND', 'sell_ORD_NO', 'sell_transaction_time',
       'sell_spread_indicator', 'sell_nnf_code', 'sell_book_type',
       'sell_colo_flag', 'Trade_Activity_Type', 'Buy_Side_Trade_No',
       'Sell_Side_Trade_No', 'Trade_Time', 'Trade_Transaction_time',
       'Buy_order_Price', 'Buy_order_quantity', 'Buy_trigger_price',
       'Sell_order_quantity', 'Sell_trigger_price', 'Sell_order_price',
       'Trade_Price', 'Trade_Quantity', 'Trade_Value'],
      dtype='object')

In [23]:
df = df[df[' buy_user_id'].notna() & df[' sell_user_id'].notna()]

In [24]:
df = pd.DataFrame([df['date'], df[' buy_user_id'], df[' sell_user_id'], df['buy_symbol'], df['Trade_Transaction_time'], df['Trade_Price'], df['Trade_Quantity']]).transpose()

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2099204 entries, 730 to 4141689
Data columns (total 7 columns):
date                      object
 buy_user_id              object
 sell_user_id             object
buy_symbol                object
Trade_Transaction_time    object
Trade_Price               object
Trade_Quantity            object
dtypes: object(7)
memory usage: 208.1+ MB

In [26]:
df.columns = ['date', 'buy_id', 'sell_id', 'symbol', 'time', 'price', 'qty']

In [32]:
df.to_csv('out2.csv')